<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinarewards.alading.reg.mapper.CompanyCardMapper">
	
	<resultMap type="Card" id="cardResultMap">
		<result property="id" column="id"/>
		<result property="cardName" column="cardName"/>
		<result property="defaultCard" column="defaultCard"/>
		<association property="picUrl" columnPrefix="pic_" javaType="com.chinarewards.alading.domain.FileItem">
			<result column="content"  property="content" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
			<result property="id" column="id"/>
			<result property="description" column="description"/>
			<result property="filesize" column="filesize"/>
			<result property="mimeType" column="mimeType"/>
			<result property="originalFilename" column="originalFilename"/>
		</association>
		<association property="unit" columnPrefix="point" javaType="com.chinarewards.alading.domain.Unit">
			<result property="pointId"  column="Id"/>
			<result property="pointName" column="Name"/>
			<result property="pointRate" column="Rate"/>
		</association>
	</resultMap>
	<resultMap type="CompanyCard" id="companyCardResultMap">
		<result property="id" column="ccid" />
		<association property="card" javaType="Card" notNullColumn="">
			<result property="id" column="cardId"/>
			<result property="cardName" column="cardName"/>
			<result property="defaultCard" column="cardDefaultCard"/>
			<association property="picUrl" javaType="FileItem">
				<result property="id" column="pic_id"/>
				<result property="description" column="pic_description"/>
				<result property="filesize" column="pic_filesize"/>
				<result property="mimeType" column="pic_mimeType"/>
				<result property="originalFilename" column="pic_originalFilename"/>
				<result column="pic_content"  property="content" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
			</association>
			<association property="unit" javaType="Unit" notNullColumn="">
				<result property="pointId"  column="pointId"/>
				<result property="pointName" column="pointName"/>
				<result property="pointRate" column="pointRate"/>
			</association>
		</association>
		<association property="company" javaType="Company" notNullColumn="">
			<result property="id" column="qy_id"/>
			<result property="name" column="qy_name"/>
			<result property="code" column="qy_code"/>
		</association>
	</resultMap>
	
	<insert id="insert" parameterType="CompanyCard" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into companyCard(card_Id, company_Id) values(#{card.id}, #{company.id})
	</insert>
	
	<insert id="insertCard" parameterType="Card" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into card(cardName, picUrl, unit_id, defaultCard) values(#{cardName}, #{picUrl.id}, #{unit.pointId}, #{defaultCard});
	</insert>
	
	<update id="updateAllCardStatus" parameterType="java.lang.Boolean">
		update card set defaultCard = #{value}
	</update>
		
	<select id="selectAllPic" resultType="java.lang.Integer">
		select fi.id from companyCard cc left join tbl_qy qy on cc.company_Id=qy.nid left join card c on cc.card_Id=c.id, fileitem fi 
		where c.picUrl=fi.id  
	</select>
	<select id="selectDefaultCard" resultMap="cardResultMap">
		select c.id as id, c.cardName as cardName, c.picUrl as picUrl,
		c.unit_id as unit_id,
		 fi.id as pic_id, fi.description as pic_description, fi.filesize as pic_filesize,
		fi.mimeType as pic_mimeType, 
		fi.originalFilename as pic_originalFilename,
		fi.content as pic_content,
		u.pointId as pointId,
		u.pointName as pointName,
		u.pointRate as pointRate
		 from card c left join fileitem fi on c.picUrl = fi.id left join unit u on c.unit_id = u.pointId   
		where c.defaultCard = 1
	</select>
	
	<select id="selectCompanies" parameterType="map" resultType="Company">
		select qy.nid as id, qy.qymc as name, qy.qybh as code from tbl_qy qy  
		<where> 
			<if test="name != null and name != ''">
				qy.qymc like '%${name}%'
			</if>
			<if test="code != null and code != ''">
				and qy.qybh like '%${code}%'
			</if>
			<if test="true">
				and qy.nid not in (select cc.company_Id from companyCard cc) 
			</if>
		</where>
		order by qy.nid desc limit #{startIndex}, #{pageSize}
	</select>
	<select id="countCompanies" parameterType="map" resultType="java.lang.Integer">
		select count(qy.nid) from tbl_qy qy
		<where> 
			<if test="name != null and name != ''">
				qy.qymc like '%${name}%'
			</if>
			<if test="code != null and code != ''">
				and qy.qybh like '%${code}%'
			</if>
			<if test="true">
				and qy.nid not in (select cc.company_Id from companyCard cc)
			</if>
		</where>
	</select>
	
	<!-- card list -->
	<select id="selectCards" parameterType="map" resultMap="companyCardResultMap">
		select c.id as cardId, 
		c.cardName as cardName, 
		c.defaultCard as cardDefaultCard,
		c.unit_id as unit_id,
		c.picUrl as picUrl,
		u.pointId as pointId,
		u.pointName as pointName,
		u.pointRate as pointRate,
		fi.id as pic_id,
		fi.description as pic_description,
		fi.filesize as pic_filesize,
		fi.mimeType as pic_mimeType,
		fi.originalFilename as pic_originalFilename,
		fi.content as pic_content,
		qy.nid as qy_id,
		qy.qymc as qy_name,
		qy.qybh as qy_code
		, cc.id as ccid 
		, cc.card_Id as card_Id
		, cc.company_Id as company_Id
		from card c
		left join companyCard cc on c.id = cc.card_Id 
		left join fileitem fi on c.picUrl = fi.id 
		left join unit u on c.unit_id = u.pointId
		left join tbl_qy qy on cc.company_Id = qy.nid
		<where>
			<if test="cardName != null and cardName != ''">
				c.cardName like '%${cardName}%'
			</if>
			<if test="defaultCard != null">
				and c.defaultCard = #{defaultCard}
			</if>
		</where>     
		order by c.id desc limit #{startIndex}, #{pageSize}
	</select>
	<select id="countCards" parameterType="map" resultType="java.lang.Integer">
		select count(c.id)
		from card c
		left join companyCard cc on c.id = cc.card_Id 
		left join fileitem fi on c.picUrl = fi.id 
		left join unit u on c.unit_id = u.pointId
		left join tbl_qy qy on cc.company_Id = qy.nid
		<where>
			<if test="cardName != null and cardName != ''">
				c.cardName like '%${cardName}%'
			</if>
			<if test="defaultCard != null">
				and c.defaultCard = #{defaultCard}
			</if>
		</where>     
	</select>
</mapper>