<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinarewards.alading.reg.mapper.ExchangeLogMapper">
	
	<insert id="insert" parameterType="ExchangeLog" useGeneratedKeys="true" keyProperty="id">
		insert into tbl_exchangelog(terminalId, merchantName, merchantAddress, couponNo, operation, returnCode, errMessage, createdAt, transactionDate, mobilePhone)
		values(#{terminalId},#{merchantName},#{merchantAddress},#{couponNo},#{operation},#{returnCode},#{errMessage},#{createdAt},#{transactionDate},#{mobilePhone})
	</insert>	
	
</mapper>