<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinarewards.alading.reg.mapper.FileItemMapper">
	
	<resultMap type="FileItem" id="fileItemResultMap">
		<result column="content"  property="content" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
	</resultMap>
	<parameterMap type="FileItem" id="FileItemParameterMap">
		<parameter property="content" jdbcType="BLOB" resultMap="content" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
	</parameterMap>
	<resultMap type="Card" id="cardResultMap">
		<association property="picUrl" column="picUrl" javaType="com.chinarewards.alading.domain.FileItem" columnPrefix="pic_">
			<result property="id" column="id"/>
			<result property="description" column="description"/>
			<result property="filesize" column="filesize"/>
			<result property="mimeType" column="mimeType"/>
			<result property="originalFilename" column="originalFilename"/>
			<result property="content" column="content" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
		</association>
		<association property="unit" column="unit_id" javaType="com.chinarewards.alading.domain.Unit" columnPrefix="unit"></association>
	</resultMap>
	
	
	<insert id="insert" parameterMap="FileItemParameterMap" useGeneratedKeys="true"
		keyProperty="id">
		insert into fileitem(description, filesize, mimeType,
		originalFilename, content) values(#{description}, #{filesize},
		#{mimeType}, #{originalFilename}, #{content})
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer" >
		delete from fileitem where id = #{value}
	</delete>
	
	<update id="updateDescContent" parameterType="FileItem">
		update fileitem 
		<set>
			<if test="content != null">content=#{content},</if>
			<if test="mimeType != null and mimeType != ''">mimeType = #{mimeType},</if>
			<if test="originalFilename != null and originalFilename != ''">originalFilename = #{originalFilename},</if>
			<if test="filesize != 0">filesize = #{filesize},</if>
			<if test="true">description = #{description}</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="selectFileItems" parameterType="map" resultType="FileItem">
		select id, description, filesize, mimeType, originalFilename from fileitem 
		<where> 
			<if test="description != null and description != ''">
				description like '%${description}%'
			</if>
		</where>
		order by id desc limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="countFileItems" parameterType="map" resultType="java.lang.Integer">
		select count(*) from fileitem 
		<where> 
			<if test="description != null and description != ''">
				description like '%${description}%'
			</if>
		</where>
	</select>
		
	<select id="select" resultMap="fileItemResultMap" parameterType="java.lang.Integer">
		select * from fileitem where id=#{value}
	</select>
	
	<select id="selectCardByImageId" resultType="Card" parameterType="java.lang.Integer"></select>
</mapper>