/Servers
/_metro-models
/_metro-posclient
/_metro-webservice-client
/_metro
/qqgbvpn-server
/.metadata/

#_metro_demo
/_metro_demo/.git
/_metro_demo/.gitignore

#eltcustom
/eltcustom/.git
/eltcustom/.gitignore

#metro-models
/metro-models/.git
/metro-models/.gitignore

#metro-posclient
/metro-posclient/.git
/metro-posclient/.gitignore

#metro-webservice-client
/metro-webservice-client/.git
/metro-webservice-client/.gitignore

#metro
/metro/.git
/metro/.gitignore
/metro/brand/
/metro/coupon/
/metro/merchandise/

#smart-elt
/smart-elt/.git
/smart-elt/.gitignore
/smart-elt/bin/

#springmvc_demo00001
/springmvc_demo00001/.git
/springmvc_demo00001/.gitignore

/oauth/bin/
/alading/bin/

CVS
.classpath
.cvsignore
.project
.settings
target
/externals/
*.class

# Package Files #
*.jar
*.war
*.ear
/alading/bin
/tapestryapp/
/myapp/bin/
/myapp2/
bin/
