ul,li {
	margin: 0;
	padding: 0;
}

.spec-control {
	background-image: url(i/newicon20130509.png);
	background-repeat: no-repeat
}

#product-intro {
	position: relative;
	z-index: 1;
	padding-left: 370px;
	*zoom: 1;
	min-height: 474px;
	height: auto !important;
	height: 474px
}

#preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 352px;
	*z-index: 4
}

#spec-n1 {
	width: 350px;
	height: 350px;
	border: 1px solid #ddd;
	margin-bottom: 5px
}

#spec-list {
	position: relative;
	width: 310px;
	height: 54px;
	overflow: hidden;
	padding: 0 21px
}

#spec-list .spec-control {
	display: block;
	position: absolute;
	top: 0;
	width: 17px;
	height: 54px
}

#spec-forward {
	left: 0;
	background-position: 0 -139px
}

#spec-backward {
	right: 0;
	background-position: -17px -139px
}

#spec-forward:hover {
	background-position: -34px -139px
}

#spec-backward:hover {
	background-position: -51px -139px
}

#spec-forward.disabled {
	background-position: -68px -139px
}

#spec-backward.disabled {
	background-position: -85px -139px
}

#spec-list .spec-items li {
	width: 62px;
	text-align: center;
	font-size: 0;
	position: relative
}

#spec-list .spec-items img {
	width: 50px;
	height: 50px;
	padding: 1px;
	border: 1px solid #CECFCE
}

.jqzoom {
	position: relative;
	padding: 0
}

.zoomdiv {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 362px;
	width: 400px;
	height: 400px;
	background: url(i/loading.gif) #fff no-repeat center center;
	border: 1px solid #e4e4e4;
	display: none;
	text-align: center;
	overflow: hidden
}

.bigimg {
	width: 800px;
	height: 800px
}

.jqZoomPup {
	z-index: 3;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	background: #FEDE4F 50% top no-repeat;
	opacity: .5;
	-moz-opacity: .5;
	-khtml-opacity: .5;
	filter: alpha(Opacity =     50);
	cursor: move
}

#spec-list .spec-items img.img-hover {
	border: 2px solid #e4393c;
	padding: 0
}

#jdim img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1
}