<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinarewards.oauth.reg.mapper.RegistrationMapper">
	<select id="findUnique" resultType="Registration" parameterType="Registration">		
		select * from registration where appId=#{appId}
		
		<if test="regCode!=null and regCode != ''">
			and regCode = #{regCode}
		</if>
		
		<if test="macAddress!=null and macAddress != ''">
			and macAddress = #{macAddress}
		</if>
		
  	</select>
  	
  	<update id="update" parameterType="Registration">
  		update registration set macAddress=#{macAddress},registedAt=now() where id = #{id}
  	</update>
</mapper>