<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>IRewards密码</title>
</head>
<body>
<p> 
尊敬的$name：<br>
您登录IRewards的账号和新密码如下
</p>
登录账号：$loginAccount<br>
初始化登录密码：$loginPassword<br>
请登录IRewards后尽快更改初始密码。<br><br>
如果您有任何需求，请联系我们，联系邮箱：client@irewards.cn
</body>
</html>