<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>IRewards追加积分密码</title>
</head>
<body>
追加密码：$password<br>
登录地址：<a href="http://www.irewards.cn/yy">www.irewards.cn/yy</a>
</body>
</html>